body {
    background: #181818;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Navigationsleiste */
.navbar {
    background: #212121;
    padding: 10px 20px;
}

/* Container */
.container {
    background: #282828;
    padding: 30px;
    margin-top: 80px;
}

/* Button */
.button {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #e63946;
}
